*
{
    padding: 0%;
    margin: 0%;
}
/* the first hader */

.caption
{
    left: 150px;
    width: 500px;
    height: 500px;
    position: relative;
    animation: move 4s  alternate  ;
    
}
@keyframes move
{
    
0%{bottom:-300px ;}
100%{bottom: -200px;}

}
.carousel-item img
{
height: 600px;
width: 100%;
}
/* the end header */
/* the first one two there  */

.top
{
    height: 100px;
    width: 300px;
}
.lo img
{
    height: 200px;
    width: 200px;
   

}
m
.pot
{
    height: 100px;
    width: 200px;
    
}
.mop
{
    top: 0%;
    width: 100%;
    height: 100%;
    left: 15%;
    background-color: rgba(0, 0, 0, 0.0001);
    border: rgb(20, 20, 20) solid 1px;
   border: silver;
    transition: 1s;
    opacity: 0;
    transition: opacity  1s;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding-right: 35%;
    padding-top: 7px;
    
   
}
.top:hover .mop
{
    opacity: 1;
}
.noy
{
    width: 200px;
    height: 60px;
    border: rgb(10, 10, 10) solid 1px;
margin-top: 40px;
padding-top: 10px;
left:0 ;
padding-left: 10px;


}
/* the end one two there  */
/* the first four */
.map img
{
height: 400px;
width: 400px;
}
/* the end four */
/* the first ICON */
.parnt
{

   
  background-image: url(img/تنزيل.jpg);
  
    
    background-size: cover;
    padding: 20px;

}
.row
{
    margin-top: 50px;
    margin-left: 40px;
    font-size: 15px;

}

.icon
{

  height:5.5rem ;  
  width: 5.5rem;
  
  border-radius: 50%;
  font-size: 40px;
  background-color:#ddc0a1 ;
  



}
/* the end  ICON*/
/* the first arb */
.bg

{
    background-image: url(img/WhatsApp\ Image\ 2020-12-08\ at\ 9.06.56\ AM\ 1.jpeg);
    background-size: cover;
    background-position: center center ;
    justify-content: center center;
    
}
/* the end arb */


